*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: 'Candal', sans-serif;
}
body{
	background-image: linear-gradient(to right, #b3b3b3, #f2f2f2);
	text-align:center;
}
h1{
	margin-top:8%;
}
#p2{
	padding-top:4%;
}
form{
	margin:2% 30%;
	padding-bottom:5%;
	background-image: linear-gradient(to right, #bfbfbf, #737373);
}
h2{
	padding-top:60px;
}
#login_button{
	text-align:center;
	display:inline-block;
	margin:4%;
	font-size:30px;
}